<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="col">
            <div class="row displayAllUsers">
                <div class=" col-sm col-md-10">
                    <h1 id="allusers">List of all users: </h1>
                    <div class="col-sm col-md-6 mt-3 mb-5">
                        <div id="searchElement" class="input-group mb-3 search_input">
                            <input type="text" id="search_input" class="form-control" placeholder="Enter username"
                                aria-label="Enter username" aria-describedby="searchButton">
                            <button class="btn btn-outline-secondary" type="button" id="searchButton"
                                onclick="getSearchResults()">Search</button>
                        </div>
                        <div class="col-sm col-md mt-3" id="searchAlert">

                        </div>
                    </div>
                    <div class="col-sm col-md">
                        <ul id="userList">
                            <% for(let user of users.results) {%>
                                <li>
                                    <div class="row align-items-center align-middle">
                                        <div class="col-md-1 col-sm displayImage">
                                            <img src="/public/images/profile/<%=user.profile_image %>"
                                                style="height: 50px; width: 50px;" class="img-fluid" alt="...">
                                        </div>
                                        <div class="col-md-2 col-sm text-md">
                                            <%=user.username %>
                                                <!-- <a class="btn btn-primary btn-sm" href="#" ">View User Details</a> -->
                                        </div>
                                        <div class="col-md-1 col-sm-12 align-middle">
                                            <% if(user.status) {%>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckChecked" checked disabled>
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        Active
                                                    </label>
                                                </div>
                                                <% } else { %>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" disabled>
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Active
                                                        </label>
                                                    </div>
                                                    <% } %>
                                        </div>
                                        <div class="col-md-2 col-sm-12" style="width: 100px;">
                                            <a role="button" class="btn btn-outline-dark" href="/users/<%=user._id%>"
                                                style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;">
                                                Show More
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <button type="button" class="btn btn-sm btn-danger" onclick="getUser(this)"
                                                value="<%=user._id%>" name="deleteBtn">Delete user</button>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                        <div class="col-md-4 mt-5 " id="paginationWrapper">
                            <nav>
                                <ul class="pagination" id="pagination">
                                    <% if(!users.previous) {%>
                                        <li class="page-item disabled">
                                            <button class="page-link">Previous</button>
                                        </li>
                                        <% } else { %>
                                            <li class="page-item">
                                                <button class="page-link" value="<%=users.previous.page%>"
                                                    onclick="pagination(this)">Previous</button>
                                            </li>
                                            <% } %>
                                                <% for(let j=1; j<=myIndex ;j++ ) {%>
                                                    <li class="page-item">
                                                        <% if(j==1) {%>
                                                            <button class="page-link active" value="<%=j%>"
                                                                onclick="pagination(this)">
                                                                <%=j %>
                                                            </button>
                                                            <% } else {%>
                                                                <button class="page-link" value="<%=j%>"
                                                                    onclick="pagination(this)">
                                                                    <%=j %>
                                                                </button>
                                                                <% } %>
                                                    </li>
                                                    <% } %>

                                                        <li class="page-item">
                                                            <button class="page-link" onclick="pagination(this)"
                                                                value="2">Next</button>
                                                        </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class=" col-sm col-md-2 ms-auto">
                    <form id="selectUser">
                        <label for="status">Select users:</label>
                        <select onchange="getStatusValue(this)" name="status" id="status">
                            <option value="">All Users</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                        <!-- <input type="submit"> -->
                    </form>
                </div>
            </div>

        </div>
    </div>